<article class="flex{% if todo.is_done %} rounded-xl bg-green-50{% endif %}">
    <div class="w-4/5 py-3">
        <p 
            class="px-6 text-xs text-gray-900"
            hx-get="/edit/{{ todo.id }}/"
            hx-target="this"
            hx-swap="outerHTML"
        >
            {{ todo.title }}
        </p>
    </div>

    <div class="w-1/5 px-6 py-3 flex justify-end space-x-4">
        {% if not todo.is_done %}
            <form
                hx-put="/update/{{ todo.id }}/"
                hx-target="closest article"
                hx-swap="outerHTML"
            >
                <button class="text-blue-500 hover:text-blue-900" type="submit">
                    <i class="fas fa-check"></i> 
                </button>
            </form>
        {% else %}
            <form
                hx-put="/undo/{{ todo.id }}/"
                hx-target="closest article"
                hx-swap="outerHTML"
                class="flex"
            >
                <button class="text-red-500 hover:text-red-800" type="submit">
                    <i class="fas fa-times"></i> 
                </button>
            </form>
        {% endif %}
        
        <a 
            href="#" 
            class="text-gray-500 hover:text-gray-800"
            hx-confirm="Are you sure?"
            hx-target="closest article"
            hx-swap="outerHTML swap:1s"
            hx-delete="/delete/{{ todo.id }}/"
        >
            <i class="fas fa-trash-alt"></i> 
        </a>
    </div>
</article>
